body{
  height: 100%;
}
img{ 
  height: 100%;
}
#main{
    display: grid;
    height: 100%;
    grid-template-rows: 30% 10% 10% 10% 20% 10% 10%;
}
#main *{
  margin: auto;
}
h4{
  text-align: center;
}
.price {
    color: grey;
    font-size: 22px;
    text-align: center;
}
button{
  background-color: black;
  color: red;
}