
html{
    height: 100%;
}
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;
    color: black;
    justify-content: space-between;
}
#main{
    margin: auto;
    width: 90%;
    border: 1px solid black;
    flex-grow: 4;
    height: 100%;
}
header{
    margin: auto;
    flex:2;
}
footer{
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: beige;
}