
html{
    height: 100%;
    
}
body{
    background-color: lightcoral;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;
    color: black;
    justify-content: space-between;
}
#main{
    margin: auto;
    box-sizing: border-box;
    width: 90%;
    flex-grow: 4;
    background-color: lightgreen;
}
header{
    margin: auto;
    flex:1;
}
footer{
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: beige;
}